body {
    background: lightgrey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;    
}
#container {
    margin-top: 0;
    padding: 0;
}


#puzzle_game {
    margin: 0 auto;
    padding: 0;
    width: 280px;
}
#cont2 {
    padding: 0;
    margin: 0;
}
.nums {
    position: absolute;
    padding: 15px 15px ;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    margin: 5px;
    text-align: center;
    background: mediumslateblue;
    color: white;
}
.empty{
    position: absolute;
    padding: 10px 15px ;
    //border: 2px solid white;
    margin: 5px;
    text-align: center;
    //background: mediumslateblue;
    //color: white;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    font-family: Verdana, sans-serif;
}
#status {
    margin-top: 200px;
    font-size: 15px;
    text-align: center;
}
#cooler {
    padding: 150px 0 0 150px;
}
table {
    border-collapse: collapse; 
}
th,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}